AspNetExperiment/bin
AspNetExperiment/obj
AspNetAuth/bin
AspNetAuth/obj
AspNetAuthFilter/bin
AspNetAuthFilter/obj
AspNetAccessMySql/bin
AspNetAccessMySql/obj
AspNetAccessMongoDB/bin
AspNetAccessMongoDB/obj
/.vs
*.log