AspNetExperiment/bin
AspNetExperiment/obj
AspNetAuth/bin
AspNetAuth/obj
AspNetAuthFilter/bin
AspNetAuthFilter/obj
AspNetAccessMySql/bin
AspNetAccessMySql/obj
AspNetAccessMongoDB/bin
AspNetAccessMongoDB/obj
AspNetRabbitMQ/AspNetRabbitMQ.ModeDemo/AspNetRabbitMQ.ModeDemo.Consumer/bin
AspNetRabbitMQ/AspNetRabbitMQ.ModeDemo/AspNetRabbitMQ.ModeDemo.Consumer/obj
AspNetRabbitMQ/AspNetRabbitMQ.ModeDemo/AspNetRabbitMQ.ModeDemo.Producer/bin
AspNetRabbitMQ/AspNetRabbitMQ.ModeDemo/AspNetRabbitMQ.ModeDemo.Producer/obj
AspNetRabbitMQ/AspNetRabbitMQ.ModeDemo/AspNetRabbitMQ.ModeDemo.Utils/bin
AspNetRabbitMQ/AspNetRabbitMQ.ModeDemo/AspNetRabbitMQ.ModeDemo.Utils/obj
/.vs
*.log